/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333; /* Light gray text color for visibility */
    background-color: white; /* White background */
    display: flex;
    justify-content: center; /* Centers the entire content horizontally */
    min-height: 100vh; /* Ensures the footer can stick to the bottom */
}

/* Wrapper style */
.wrapper {
    max-width: 95em; /* Sets a maximum width for the content area */
    width: 85%;
    margin: 3em;
    padding: 2em;
    background-color: #f8f8f8;
    box-shadow: 0 0 2em rgba(255, 255, 255, 0.1); /* Subtle white shadow for depth */
    flex-grow: 1; /* Allows the wrapper to expand */
}

/* Header styles */
header {
    background-color: #007BFF; /* Keep as is if visibility is fine, or adjust as needed */
    color: #ffffff; /* White text for visibility */
    padding: 1rem 2rem;
    text-align: center;
}

 header p {
    color: #B0C4DE;
    font-size: 1.2rem;
    margin-top: -5px;
}

h2{
    text-align: center;
    color: #333;
}

.tabs {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.tab-button.active {
    background-color: #0056b3;
}

.tab-button:hover {
    background-color: #0056b3;
}

.token-list {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.token-list h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f8f8f8;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}

th::after {
    content: '▼';
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    display: none;
}

th.sortable:hover::after {
    display: block;
}

td img {
    width: 5em;
    height: 5em;
    margin-right: 5px;
    vertical-align: middle;
}

.symbol {
    margin-right: 20px;
}


/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin: 0.3rem;
    background-color: #007BFF; /* Slightly different blue to stand out against the header */
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    transition: font-weight 0.3s;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover, nav ul li:active {
    font-weight: bold;
    background-color: #0056b3; /* Darker blue for hover effect */
}

/* Footer styles */
footer {
    background-color: #1a1a1a; /* Darker than the wrapper for distinction */
    color: #ffffff; /* Ensure text is white for visibility */
    text-align: center;
    padding: 20px;
    position: relative; /* Ensured it is relative for layout consistency */
    width: 100%;
}

/* Airdrop container styles */
.airdrop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5em;
}
.airdrop-item {
    background-color: #fff; /* Darker background for each item */
    border: 1px solid #ddd; /* Lighter border for visibility */
    margin: 2em;
    padding: 2em;
    width: 25em;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 150px;
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}
.airdrop-item.expanded {
    max-height: 500px;
}

.airdrop-logo {
    width: 3em;
    height: 3em;
    display: block;
    margin: 0 auto 1em;
}
.airdrop-info h3 {
    margin-top: 0;
    color: #333; /* Light gray text for better visibility */
}

/* Button styles */
.button, .button-reset {
    padding: 8px 15px;
    background-color: #28a745; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; /* Slight margin for spacing between buttons */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button:hover {
    background-color: #1f6a30; /* Darker green on hover */
}

.button-reset {
    background-color: #777; /* Gray background for reset button */
    color: white;
}

.button-reset:hover {
    background-color: #555; /* Darker gray on hover */
}

/* Status label styles */
.status-safe {
    color: #28a745;
}
.status-pending {
    color: #ffc107;
}

.detail-item {
    text-align: center
}

.detail-logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #0056b3; /* Choose a color that fits your design */
    color: white;
    text-decoration: none; /* Removes underline */
    border-radius: 5px; /* Optional: adds rounded corners */
    text-align: center;
}
