/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333; /* Text color for visibility */
    background-color: white; /* White background */
    display: flex;
    flex-direction: column; /* Ensure content flows vertically */
    min-height: 50vh; /* Ensure the body covers at least the full viewport height */
}

.wrapper {
    width: 85%;
    max-width: 95em; /* Sets a maximum width for the content area */
    margin: 2em auto; /* Centers the wrapper horizontally */
    padding: 1em;
    background-color: #f5f5f5; /* Light gray background for the wrapper */
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    flex-grow: 1; /* Allows the wrapper to grow and fill available space */
}

/* Header styles */
header {
    background-color: #007BFF; 
    color: black;
    padding: 1rem 2rem;
    text-align: center;
    min-height: 20vh;
}

header p {
    color: #B0C4DE;
    font-size: 1.2rem;
    margin-top: -5px;
}

h2 {
    text-align: center;
    color: #333;
    padding-top: 1em;
}

.tabs {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.tab-button.active {
    background-color: #0056b3;
}

.tab-button:hover {
    background-color: #0056b3;
}

.token-list {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.token-list h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse; /* Ensures there are no spaces between borders */
}

th, td {
    padding: 0.5em;
    text-align: center;
    border: solid 1px #ddd; /* Removes borders from table cells */
    background-color: #f9f9f9; /* Optional: Sets a background color for better readability */
}

td {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

thead th[colspan="3"].social-media-header {
    font-weight: bold;
    align-items: center;
    text-align: center;
}

thead th {
    vertical-align: middle; /* Center vertically */
    font-weight: bold;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}

td img {
    width: 5em;
    height: 5em;
    margin-right: 5px;
    vertical-align: middle;
}

.symbol {
    margin-right: 20px;
}

.upcomingtoken-logo {
    max-width: 50px; /* Limits the maximum width of the token logo */
    height: auto; /* Maintains aspect ratio */
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0.3rem;
    background-color: #007fff; /* Slightly different blue to stand out against the header */
    color: black;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    transition: font-weight 0.3s;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li:hover, nav ul li:active {
    font-weight: bold;
    background-color: #0073cf; /* Darker blue for hover effect */
}

/* Footer styles */
footer {
    background-color: #1a1a1a; /* Darker than the wrapper for distinction */
    color: #ffffff; /* Ensure text is white for visibility */
    text-align: center;
    padding: 20px;
    position: relative; /* Ensured it is relative for layout consistency */
    width: 100%;
}

/* Airdrop container styles */
.airdrop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5em;
}

.airdrop-item {
    background-color: #fff; /* Darker background for each item */
    border: 1px solid #ddd; /* Lighter border for visibility */
    margin: 2em;
    padding: 2em;
    width: 25em;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 150px;
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}

.airdrop-item.expanded {
    max-height: 500px;
}

.airdrop-logo {
    width: 3em;
    height: 3em;
    display: block;
    margin: 0 auto 1em;
}

.airdrop-info h3 {
    margin-top: 0;
    color: #333; /* Light gray text for better visibility */
}

/* Button styles */
.button, .button-reset {
    padding: 8px 15px;
    background-color: #28a745; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; /* Slight margin for spacing between buttons */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button:hover {
    background-color: #1f6a30; /* Darker green on hover */
}

.button-reset {
    background-color: #777; /* Gray background for reset button */
    color: white;
}

.button-reset:hover {
    background-color: #555; /* Darker gray on hover */
}

/* Status label styles */
.status-safe {
    color: #28a745;
}

.status-pending {
    color: #ffc107;
}

.status-confirmed {
    color: #28a745;
}

.detail-item {
    text-align: center;
}

.detail-logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #0056b3; /* Choose a color that fits your design */
    color: white;
    text-decoration: none; /* Removes underline */
    border-radius: 5px; /* Optional: adds rounded corners */
    text-align: center;
}

/*.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}*/

.container {
    max-width: 1200px; /* Restrict maximum width for readability */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add padding around the container */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}*/

.disclaimer {
    color: #ff0000;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.custom-legend {
    display: flex;
    justify-content: space-between; /* Evenly distribute Positive and Negative */
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping on small screens */
    gap: 15px; /* Consistent spacing between items */
    width: 100%;
}

.custom-legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1; /* Equal width for items */
}

.custom-legend-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.custom-legend-item span {
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 14px;
    font-weight: 500;
}

.button-container {
    margin-top: 20px; /* Add some space above the buttons */
    text-align: center; /* Center the buttons */
}

.btn {
    max-width: 30em; /* Limits the maximum width of the button */
    max-height: 20em;
    white-space: nowrap; /* Prevents the button text from wrapping */
}

#search form {
    display: block;
    text-align: center;
}

thead th {
    vertical-align: middle; /* Center vertically */
    font-weight: bold;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}

td, th {
    width: auto;
}

/* Additional styles */
.airdrop-item-link {
    display: flex;
    align-items: center;
}

.airdrop-item-link img {
    margin-right: 10px;
}

.custom-legend {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.custom-legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.airdrop-container table {
    width: 100%;
    min-width: 800px; /* Adjust this value as necessary */
    table-layout: auto; /* Ensures table maintains its width */
}

.airdrop-container th, .airdrop-container td {
    text-align: center; /* Center align text in table headers and cells */
}

/* Default color for navbar text */
.navbar-nav .nav-link {
    color: white !important; /* Default color */
}

/* Change color on hover */
.navbar-nav .nav-link:hover {
    color: #f8f9fa !important; /* Slightly lighter shade */
}

/* Change color when active */
.navbar-nav .nav-link.active {
    color: black !important; /* Active color */
}

/* Change color when clicked */
.navbar-nav .nav-link:focus {
    color: black !important; /* Focus color */
}

/* Enhancements for aboutus.php */
.about-section {
    padding: 20px;
}

.about-section h2 {
    color: black;
    margin-bottom: 40px;
    text-align: center;
}

.about-item {
    text-align: center;
    margin-bottom: 30px;
}

.about-item img {
    max-width: 80px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.about-item p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.about-card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 100%;
    padding: 20px;
}

.about-card:hover {
    transform: translateY(-10px);
}

.about-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-card img {
    max-width: 80px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-card-title {
    margin-top: auto;
    margin-bottom: auto;
}

.about-card-text {
    margin-top: auto;
    margin-bottom: auto;
}

.row > .col-md-4 {
    margin-bottom: 30px;
}

/* Removed redundant styles from tips.php */

/* Removed the following styles as they are no longer needed:
.tips-container
.tips-text-box
.tips-more-text
.tips-initial-text
.tips-notice
.chart-container
.no-data
.img
.full-width-card
*/

.disabled {
    pointer-events: none;
    color: grey;
    text-decoration: none; /* Optional: Remove underline from disabled links */
}

.overview-section {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.metrics-box {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.metrics-box div {
    flex: 1;
    text-align: center;
}

.overview-section p {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.overview-section p i {
    margin-right: 10px;
}

.overview-section a {
    color: blue;
}

.row1 {
    display: flex;
    align-items: center;
}

.row1 .col-md-3 {
    flex: 0 0 auto;
}

.row1 .col-md-9 {
    flex: 1 1 auto;
}

.row1 .col-md-9 p {
    margin-left: 20px;
}

.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

.learn_avoid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
}

.learn_avoid-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.learn_avoid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.learn_avoid-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.learn_avoid-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.learn_avoid-card-content {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learn_avoid-card-content h3 {
    margin: 0;
    font-size: 1.2em;
}

.learn_avoid-card-content p {
    margin: 10px 0;
}

.learn_avoid-card-content a {
    color: #007BFF;
    text-decoration: none;
    word-break: break-all;
    margin: 0 5px;
}

.learn_avoid-card-content a.disabled {
    color: gray;
    pointer-events: none;
}

.learn_avoid-card-content a:hover {
    text-decoration: underline;
}

.learn_avoid-disclaimer {
    color: #ff0000;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

.learn_avoid-pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.learn_avoid-pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.learn_avoid-pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.learn_avoid-pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.learn_avoid-search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.learn_avoid-search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.learn_avoid-search-bar button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.learn_avoid-search-bar button:hover {
    background-color: #0056b3;
}

.center-text {
    text-align: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.button-container {
    display: flex;
    justify-content: center;
}

.was-validated .form-control:invalid ~ .invalid-feedback {
    display: block;
}

.urlscan_des {
    text-align: center;
    color: #ff0000;
    font-weight: bold;
    margin: 2vh;
}

#loader {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white overlay */
    z-index: 1000; /* Make sure it overlays other elements */
    justify-content: center;
    align-items: center;
    text-align: center;
}

#loader .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light gray border */
    border-top: 4px solid #007bff; /* Blue spinner */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.screenshot-image {
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

.button-group {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 20px; /* Add space between the buttons */
    margin-top: 20px; /* Add space above the buttons */
}

.button-group .btn {
    width: auto; /* Allow the button width to adjust dynamically */
    max-width: 300px; /* Set a reasonable maximum width */
    height: auto; /* Allow the height to adjust dynamically */
    padding: 10px 20px; /* Add appropriate padding */
    font-size: 16px; /* Standardize font size */
    text-align: center; /* Center-align text */
    white-space: nowrap; /* Prevent text wrapping */
    margin: 0 10px; /* Add consistent spacing between buttons */
}

.sort-icon {
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
    width: 20px; /* Adjust based on your image size */
    height: 20px; /* Adjust based on your image size */
    background-size: contain;
    background-repeat: no-repeat;
}

.sort-icon img {
    width: 100%;
    height: 100%;
}

.api-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Add some padding around each result section */
    margin: 20px 0; /* Add vertical spacing between sections */
    background-color: #fff; /* White background for readability */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.tips-more-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    padding: 1em;
    background-color: #f5f5f5;
    font-size: 1.2em;
}

.tips-text-box:hover .tips-more-text {
    transform: translateX(0);
    text-align: center;
    justify-content: center;
}

.tips-initial-text {
    font-size: 1.5em;
    font-style: inherit;
    padding: 1em 0;
    justify-content: center;
    text-align: center;
}

.tips-notice {
    margin-top: 30em;
}

.chart-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.no-data {
    color: red;
    font-weight: bold;
    text-align: center;
}

.img {
    justify-content: center;
}

.full-width-card {
    width: 100%;
}

.card {
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.detail-logo {
    width: 150px;
    height: auto;
}

/* Since we're using Bootstrap's card components, additional custom styles are minimal */
#safety-tips {
    margin-top: 3em;
}

#safety-tips h2 {
    color: #007BFF;
    margin-bottom: 20px;
}

/* Optional: Customize the alert within the safety tips */
#safety-tips .alert {
    font-size: 1.1em;
}
